
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Nunito:wght@200&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto&display=swap');

.form-element {
    margin-top: 150px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 150px;
    font-weight: 200;
}

.form-control {
    font-family: 'Faster One', cursive;
}
