
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Lato&family=Raleway:ital,wght@1,200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

.ProfileWrapper {
    margin-top: 150px;
    margin-bottom: 150px;
}

.card {
    border: none;
}

.Texted {
    background-color: red;
    height: 350px;
}

.Activity {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.ActivityHigh {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.Activity:hover {
    scale: 1.01;
    box-shadow: 0 0 11px rgb(80, 139, 149); 
}

.ActivityHigh:hover {
    scale: 1.1;
    box-shadow: 0 0 11px rgb(80, 139, 149); 
}

.cont {
    position: relative;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 22px;
}

.cont:hover #ncm{
    scale: 1.1;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ncm {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#my_name_is {
    filter: brightness(70%);
}

#frnd {
    filter: sepia(50%);
}

#alb_cov {
    width: 300px;
}

#usr_ava {
    width: 300px;
}

.cont2 {
    position: relative;
}

#oval {
    position: absolute;
    top: -10%;
    left: 86%;
    width: 55px;
    height: 370px;
    border: 3px solid red;
    border-radius: 100px / 800px;
}

.cont2:hover #oval {
    left: 90%;
    top: -10%;
}

.FavRevs {
    padding: 10px;
}

.FavCreatorNick {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.FavRevScore {
    font-family: 'Gamja Flower', cursive;
    font-size: 16px;
}

.FavRevImage {
    width: 50px;
    height: 50px;
    /* border-radius: 5px; */
}

.FavRevsListItem {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}

.FavRevsListItem:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#listing_reviews {
    padding-top: 20px;
    height: 500px;
}

#listing_navigation {
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 20px;
}

.LSTNavBtn {
    background-color: rgb(179, 179, 179);
    border-radius: 4px;
    padding: 5px;
}

.LSTNavBtn:hover {
    scale: 1.04;
}

.OwnRvTitle {
    color:black;
    text-decoration:none;
    margin-left: 40px;
    font-family: 'Lato';
}

.ListingEl {
    margin-bottom: 20px;
}

.OwnRvListingImage {
    width: 100px;
}

@media (min-width: 1400px) { 

    .UsrRvwType3 {
        height: 126px;
        width: 196px;
    }
    
    .usrrvm {
        margin-top: 20px;
    }

    .HorShit {
        width: 410px;
    }

    .VertShit2 {
        height: 272px;
        margin-top: 20px;
    }

    .VertShitB {
        width: 198px;
        height: 420px;
    }

}

@media (min-width: 1200px) and (max-width: 1400px){ 

    .UsrRvwType3 {
        height: 126px;
        width: 170px;
    }
    
    .usrrvm {
        margin-top: 20px;
    }

    .VertShit {
        width: 180px;
        height: 418px;
    }

    .HorShit {
        width: 350px;
    }

    .VertShit2 {
        height: 272px;
        width: 170px;
        margin-top: 20px;
    }

    .VertShitB {
        width: 180px;
        height: 420px;
    }

}

@media (min-width: 992px) and (max-width: 1200px){ 

    .UsrRvwType3 {
        height: 126px;
        width: 145px;
    }
    
    .usrrvm {
        margin-top: 20px;
    }

    .VertShit {
        width: 140px;
        height: 418px;
    }

    .HorShit {
        width: 310px;
    }

    .VertShit2 {
        height: 272px;
        width: 140px;
        margin-top: 20px;
    }

    .VertShitB {
        width: 140px;
        height: 420px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .UsrRvwType3 {
        height: 126px;
        width: 196px;
    }
    
    .usrrvm {
        margin-top: 20px;
    }
}
