
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Lato&family=Raleway:ital,wght@1,200&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200');

.ReviewNav {
    margin-top: 100px;
}

.lnk_rv_nav {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#review {
    margin-top: 150px;
    margin-bottom: 150px;
}

.ReviewShort {
    padding-left: 100px;
    border-radius: 10px;
    box-shadow: 60px -16px teal;
    height: 800px;
}

.ReviewAlbNdScore {
    height: 180px;
    margin-bottom: 50px;
}

#alb_ttl {
    font-family: Futura;
}

#alb_score {
    display: inline-block;
}

#alb_year {
    display: inline-block;
}

.ReviewTitle {
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    height: 180px;
}

.ReviewText {
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.ReviewImg {
    margin-bottom: 50px;
}

.ReviewOptions {
    width: 350px;
}

#rev_author {
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}