{% extends 'common_app/index.html' %}

{% block haeders %}

    {{ block.super }}

    {% block title %}
    <title> Reviews </title>
    {% endblock title %}

    {% block media %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/review_list.css' %}">  
    {% endblock media %}

{% endblock haeders %}

{% block body %}

    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}

    {% block content %}
        {% if status == 'success' %}
        <div class="container ReviewsList" id="rvw_list">
        {% for rev in data %}
            <div class="row text-center ReviewListItem" id="rvw{{rev.id}}" data-url="{% url 'ceraint_review' rev.id %}" onclick="change_url('{% url 'ceraint_review' rev.id %}')">
                <div class="col">
                    <p id="alb_auth"> {{ rev.album_author }} </p>
                </div>
                <div class="col">
                    {% comment %} <p> - </p> {% endcomment %}
                </div>
                <div class="col">
                    <p id="alb_ttl"> {{ rev.album_title }} </p>
                </div>
                <div class="col">
                    <img src='{{ rev.image_src }}' width="100px"/>
                </div>
                <div class="col">
                    <p id="alb_year"> {{ rev.album_year }} </p>
                </div>
                <div class="col">
                    <p id="alb_score"> {{ rev.album_score }} <p>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="container-fluid ErrorMessageContainer">
            <div class="row text-center">
                <div class="col">
                </div>
                <div class="col">
                    <p id="error_message">
                    Unfortunately there is no reviews yet ;)
                    </p>
                    <p style="font-size:48px" id="emogies">
                        <span class="emog">
                            &#128512; 
                        </span>
                        <span class="emog">
                            &#128516; 
                        </span>
                        <span class="emog">
                            &#128525; 
                        </span>
                        <span class="emog">
                            &#128151;
                        </span>
                    </p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock content %}
    
    {% block footer %}
        {{ block.super }}
    {% endblock footer %}

    {% block scripts %}
        {{ block.super }}
    {% endblock scripts %}


{% endblock body %}