
{% extends 'common_app/index.html' %}

{% block haeders %}

    {{ block.super }}

    {% block title %}
    <title>SH Profile</title>
    {% endblock title %}

    {% block mediaicons %}
    <link rel="stylesheet" href="https://kit.fontawesome.com/5509c6393f.css" crossorigin="anonymous">
    {% endblock mediaicons %}

    {% block media %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">   
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">   
    {% endblock media %}

{% endblock haeders %}

{% block body %}
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}

    {% block content %}

    {% load static %}    

    <div class="container ProfileWrapper">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <label for="chng_image_btn">
          <img
            src="{{ image }}"
            class="w-100 shadow-1-strong rounded mb-4 Activity"
            alt="Boat on Calm Water"
          />
          </label>
          <button type="button" id="chng_image_btn" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#chng_ava_modal"></button>

          
          <div class="cont">
            <label for="chng_nickname_btn">
            <img
              src="{% static 'images/nickname.jpg' %}"
              class="w-100 shadow-1-strong rounded mb-4 Texted text-center Activity"
              alt="Wintry Mountain Landscape"
              id="my_name_is"
            >
            </label>
            <button type="button" id="chng_nickname_btn" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#chng_nickname_modal"></button>
            <div class='centered' id="ncm">
              {{ nickname }}
            </div>
          </div>
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          {% if not fav_reviews %}
          <img
            src="{% static 'images/rst-warn-v2.svg' %}"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
          />
          {% else %}

          <div class='FavRevs ActivityHigh mb-4' id="fav_revs">
            {% comment %}
          {% for rv in fav_reviews  %}
          <div class="row text-center FavRevsListItem" onclick="change_url(`{% url 'ceraint_user_review' rv.id %}`)"> <!-- BULBA -->
            <div class='col-lg-4 mb-lg-0'>
              <img src="{{rv.image.url}}" class="FavRevImage">
            </div>
            <div class='col-lg-4 mb-lg-0'>
              <p class='FavCreatorNick'>
              @{{ rv.user.soundhomeusersadditionalinfo.nickname }}
              </p>
            </div>
            <div class='col-lg-4 mb-lg-0'>
              <p class='FavRevScore'>
              {{ rv.score }}
              <p>
            </div>
          </div>
          {% endfor %}
          {% endcomment %}
          <button type="button" id="rnavf" class="btn btn-secondary btn-sm">Small button</button>
          </div>
    
          {% endif %}


          
          <a href="{% url 'logout_view' %}">
          <img
            src="{% static 'images/logout.svg' %}"
            class="w-100 shadow-1-strong rounded mb-4 Activity"
            alt="Boat on Calm Water"
          />
          </a>
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          {% if reviews %}
          {% load static %}

          {% if reviews_type_make %}
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <label for="tutu">
              <img src="{% static 'images/shelf_cds.jpg' %}" class="Activity VertShitB"></img>
              </label>
              <button type="button" id="tutu" class="btn btn-link" onclick="get_listing_from_page(1)" data-bs-toggle="modal" data-bs-target="#fav_reviews_listing"/>
            </div>
            <div class="col-lg-6 mb-lg-0 text-center">
              <label for="titi">
              <img src="{% static 'images/temporary_pasta.png' %}" class="Activity VertShit"></img>
              </label>
              <button type="button" id="titi" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            </div>
          </div>
          {% else %}

          {% if reviews_amount == 4 %}
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.0.image}}"  class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.0.id %}`)"></img>
              <img src="{{reviews.1.image}}" class="UsrRvwType3 usrrvm Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.1.id %}`)"></img>
              <img src="{{reviews.2.image}}" class="UsrRvwType3 usrrvm Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.2.id %}`)"></img> 
            </div>
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.3.image}}" class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.3.id %}`)"></img> 
              <label for="titi">
              <img src="{% static 'images/temporary_pasta3.png' %}" class="Activity VertShit2"></img>
              </label>
              <button type="button" id="titi" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            </div>
          </div>
          {% endif %}
          
          {% if reviews_amount == 3 %}
               
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.0.image}}"  class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.0.id %}`)"></img>
              <img src="{{reviews.1.image}}" class="UsrRvwType3 usrrvm Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.1.id %}`)"></img>
              <img src="{{reviews.2.image}}" class="UsrRvwType3 usrrvm Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.2.id %}`)"></img> 
            </div>
            <div class="col-lg-6 mb-lg-0 text-center">
              <label for="titi">
              <img src="{% static 'images/temporary_pasta.png' %}" class="Activity VertShit"></img>
              </label>
              <button type="button" id="titi" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            </div>
          </div>

          {% endif %}

          {% if reviews_amount == 2 %}
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.0.image}}"  class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.0.id %}`)"></img>
            </div>
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.1.image}}"  class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.1.id %}`)"></img>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <label for="titi">
                <img src="{% static 'images/temporary_pasta2.png' %}" class="Activity HorShit"></img>
                </label>
                <button type="button" id="titi" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            </div>
          </div>
          {% endif %}

          {% if reviews_amount == 1 %}
          <div class="row mb-4">
            <div class="col-lg-6 mb-lg-0 text-center">
              <img src="{{reviews.0.image}}"  class="UsrRvwType3 Activity" onclick="change_url(`{% url 'ceraint_user_review' reviews.0.id %}`)"></img>
            </div>
            <div class="col-lg-6 mb-lg-0 text-center">
              <label for="titi">
              <img src="{% static 'images/temporary_pasta.png' %}" class="Activity VertShit"></img>
              </label>
              <button type="button" id="titi" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            </div>
          </div>
          {% endif %}
          
          {% endif %}

          {% else %}
          <div class="cont2">
            <label for="mk_rvw_btn">
            <img
              src="{% static 'images/empty-list.png' %}"
              class="w-100 shadow-1-strong rounded mb-4 ActivityHigh"
              alt="Waves at Sea"
              id="for_oval"
            />
            </label>
            <button type="button" id="mk_rvw_btn" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mkrvw_modal"/>
            <div id="oval">
            </div>
            </div>
          {% endif %}
  
            <img
              src="{% static 'images/friends.jpg' %}"
              class="w-100 shadow-1-strong rounded mb-4 Activity"
              alt="Yosemite National Park"
              id="frnd"
            />
        </div>
      </div>
    </div>

      {% block profile_modal_parts %}


        <div class="modal fade" id="fav_reviews_listing" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Your reviews</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="container" id="listing_reviews">
              </div>
              <div class="d-flex justify-content-between" id="listing_navigation">
                <i class="fa-solid fa-2x fa-arrow-left LSTNavBtn" id="lnav"></i>
                <i class="fa-solid fa-2x fa-arrow-right LSTNavBtn" id="rnav"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="chng_ava_modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Change AVA ;)</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form data-url="{% url 'chng_usr_image' %}" id="change_user_image_form" enctype="multipart/form-data" method="post">
                <div id="csrf_wrapper" data-csrf="{{ csrf_token }}" style="display:none"></div>
                <div class="modal-body mx-3">
                  <div class="md-form">
                    <i class="fa-solid fa-image"></i>
                    <div class="user_img_wrapper text-center mt-2 mb-3"> 
                    <label for="user_image" id="alb_cov_label" class="ActivityHigh">
                      <img src="{% static 'images/ava-def.img' %}" id="usr_ava" />
                    </label>
                    </div>
                    <input type="file" accept="image/png, image/gif, image/jpeg" id="user_image" onchange="load_file_chng_ava(event, 'usr_ava')" name="image" style="display:none" required>
                    <label data-error="wrong" data-success="right" for="alb_cov_label">Your New Ava</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" onclick="customSubmit('ava')" class="btn btn-success">Send<i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="modal fade" id="chng_nickname_modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Change NickName   ;)</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form data-url="{% url 'chng_usr_nickname' %}" id="change_user_nickname_form" method="post">
                <div class="csrf_wrapper" data-csrf="{{ csrf_token }}" style="display:none"></div>
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-pencil prefix grey-text"></i>
                    <input type="text" id="nickname_input" name="nickname" class="form-control validate" required>
                    <label data-error="wrong" data-success="right" for="nickname_input">New Nickname</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" onclick="customSubmit('nickname')" class="btn btn-success">Send<i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>



        <div class="modal fade" id="mkrvw_modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Yoo! Review !!!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form data-url="{% url 'post_user_review' %}" id="create_user_review_form" enctype="multipart/form-data" method="post">
                <div class="csrf_wrapper" data-csrf="{{ csrf_token }}" style="display:none"></div>
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fa-solid fa-music"></i>
                    <input type="text" id="album_author" name="album_author" class="form-control validate" required>
                    <label data-error="wrong" data-success="right" for="album_author">Author</label>
                  </div>
          
                  <div class="md-form mb-5">
                    <i class="fa-solid fa-heading"></i>
                    <input type="text" id="album_title" name="album_title" class="form-control validate" required>
                    <label data-error="wrong" data-success="right" for="album_title">Title</label>
                  </div>
          
                  <div class="md-form mb-5">
                    <i class="fas fa-tag prefix grey-text"></i>
                    <input type="text" id="review_title" name="review_title" class="form-control validate" required>
                    <label data-error="wrong" data-success="right" for="review_title">Review Header</label>
                  </div>
          
                  <div class="md-form mb-5">
                    <i class="fas fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="review_text" name="review_text" class="md-textarea form-control" rows="4" required></textarea>
                    <label data-error="wrong" data-success="right" for="review_text">Review Text</label>
                  </div>
                  
                  <div class="md-form mb-5">
                    <i class="fa-solid fa-image"></i>
                    <div class="alb_cov_wrapper text-center mt-2 mb-3"> 
                    <label for="image" id="alb_cov_label" class="ActivityHigh">
                      <img src="{% static 'images/album-default-cover.png' %}" id="alb_cov" />
                    </label>
                    </div>
                    <input type="file" accept="image/png, image/gif, image/jpeg" onchange="load_file_chng_ava(event, 'alb_cov')" id="image" name="album_cover" style="display:none" required>
                    <label data-error="wrong" data-success="right" for="alb_cov_label">Album Cover</label>
                  </div>

                  <div class="md-form">
                    <i class="fas fa-pencil prefix grey-text"></i>
                    <input type="text" id="rvw_score" name="score" class="form-control validate" required>
                    <label data-error="wrong" data-success="right" for="form1">Score</label>
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button type="button" onclick="customSubmit('review')" class="btn btn-success">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>

      
      {% endblock profile_modal_parts %}

    {% endblock content %}

    {% block content_special %}
    {% load static %}
    <p>Click anywhere to move the ball</p>
    <div id="foo" class="ball"></div>
    
    {% endblock content_special %}


    
    {% block footer %}
        {{ block.super }}
    {% endblock footer %}


    {% block common_info %}
        {{ block.super }}
    {% endblock common_info %}

    <div id="this_page_info" data-rvwmkpage="{% url 'ceraint_user_review' 0 %}" data-rvwlistingpage="{% url 'user_review_listing' %}" data-rvwfavlistingpage="{% url 'favourite_review_listing' %}"></div>

    {% block alertifycdn %}
        {{ block.super }}
    {% endblock alertifycdn %}


    {% block scripts %}
        {{ block.super }}
        {% block login_form_code %}{% endblock login_form_code %}

        <script>
          var load_file_chng_ava = function(event, id) {
            let image = document.getElementById(id)
            image.src = URL.createObjectURL(event.target.files[0]);
          }
        </script>

        <script>

          const f = document.getElementById("foo");
          document.addEventListener(
            "click",
            (ev) => {
              f.style.transform = `translateY(${ev.clientY - 25}px)`;
              f.style.transform += `translateX(${ev.clientX - 25}px)`;
            },
            false
          );



          function get_fav_listing_from_page(page) {
            let csrf = document.getElementById('csrf_wrapper').getAttribute('data-csrf');
            let url = document.getElementById('this_page_info').getAttribute('data-rvwfavlistingpage')
            
            let url_made = `${url}?page=${page}`

            fetch(url_made, {
              method: "GET",
              mode: 'cors',
              cache: 'default',
              credentials: 'include',
            })
            .then((response) => response.json())
            .then((data) => {
              console.log("Success:", data);
              if (data.status === "message") {
                let msg = data.info
                let json = JSON.parse(data.info); 
                let keys = Object.keys(json)

                alertify.alert(json[0].message)
              } else if (data.status === "form_validation_error" ) {
                let msg = data.info
                let json = JSON.parse(data.info); 
                let keys = Object.keys(json)

                alertify.alert(json[keys[0]][0].message)                

              } else if (data.status === "success") {
                let listing_container = document.getElementById('fav_revs')
                //let lnav = document.getElementById('lnav')
                let rnav = document.getElementById('rnavf')
                listing_container.innerHTML = ""
                //console.log(data.data)
                let json = JSON.parse(data.data)
                let next_page = json.next_page
                let previous_page = json.previous_page
                let rvs = json.revs
                console.log(rvs)
                
                /* DUDA */
                rvs.forEach((element) => {
                  const row = document.createElement("div")
                  //row.id = `listing_item${element.id}`
                  row.className = `row text-center FavRevsListItem`
                  var url_mask = "{% url 'ceraint_user_review' 12345 %}".replace(/12345/, element.id.toString());
                  row.setAttribute("onclick", `change_url('${url_mask}')`)

                  const col1 = document.createElement("div")
                  col1.className = `col-lg-4 mb-lg-0`
                  row.appendChild(col1)

                  const img = document.createElement("img")
                  img.src = element.image
                  img.className = `FavRevImage`
                  col1.appendChild(img)

                  const col2 = document.createElement("div")
                  col2.className = `col-lg-4 mb-lg-0`
                  row.appendChild(col2)

                  const p1 = document.createElement("p")
                  p1.className = `FavCreatorNick`
                  p1.innerHTML = element.nickname
                  col2.appendChild(p1)

                  const col3 = document.createElement("div")
                  col3.className = `col-lg-4 mb-lg-0`
                  row.appendChild(col3)

                  const p2 = document.createElement("p")
                  p2.className = `FavRevScore`
                  p2.innerHTML = element.score
                  col3.appendChild(p2)

                  listing_container.appendChild(row)
                })

                if (next_page !== '#') {
                  const mr = document.createElement("div")
                  mr.className = 'mr-auto'
                  listing_container.appendChild(mr)
                  const b = document.createElement("button")
                  b.className = 'btn btn-secondary btn-sm'
                  mr.appendChild(b)

                  b.style.visibility = 'visible'
                  b.type = 'button'
                  b.innerHTML = 'Next'
                  b.setAttribute("onclick", `get_fav_listing_from_page(${next_page})`)
                } else {
                  b.style.visibility = 'hidden'
                }
                
              } else if (data.status === "error") {
                let err = data.info
                let json = JSON.parse(data.info)
                
                json.forEach((element) => {
                  if (element.code >= 500) {
                    let url = document.getElementById('common_data_div').getAttribute('data-erurl')
                    change_url(`${url}?code=${element.code}&message=${element.message}`)
                  }
                })
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
          }

          get_fav_listing_from_page(1)

          function get_listing_from_page(page) {
            let csrf = document.getElementById('csrf_wrapper').getAttribute('data-csrf');
            let url = document.getElementById('this_page_info').getAttribute('data-rvwlistingpage')
            
            let url_made = `${url}?page=${page}`

            fetch(url_made, {
              method: "GET",
              mode: 'cors',
              cache: 'default',
              credentials: 'include',
            })
            .then((response) => response.json())
            .then((data) => {
              console.log("Success:", data);
              if (data.status === "message") {
                let msg = data.info
                let json = JSON.parse(data.info); 
                let keys = Object.keys(json)

                alertify.alert(json[0].message)
              } else if (data.status === "form_validation_error" ) {
                let msg = data.info
                let json = JSON.parse(data.info); 
                let keys = Object.keys(json)

                alertify.alert(json[keys[0]][0].message)                

              } else if (data.status === "success") {
                let listing_container = document.getElementById('listing_reviews')
                let lnav = document.getElementById('lnav')
                let rnav = document.getElementById('rnav')
                listing_container.innerHTML = ""
                //console.log(data.data)
                let json = JSON.parse(data.data)
                let next_page = json.next_page
                let previous_page = json.previous_page
                let rvs = json.revs
                
                rvs.forEach((element) => {
                  const row = document.createElement("div")
                  row.id = `listing_item${element.id}`
                  row.className = `row ListingEl Activity`

                  const col = document.createElement("div")
                  col.className = `col`
                  row.appendChild(col)

                  const img = document.createElement("img")
                  img.src = element.image
                  img.className = `OwnRvListingImage`
                  col.appendChild(img)
                  
                  const a = document.createElement("a")
                  var url_mask = "{% url 'ceraint_user_review' 12345 %}".replace(/12345/, element.id.toString());
                  row.setAttribute("onclick", `change_url('${url_mask}')`)
                  //a.href = url_mask
                  a.className =  `OwnRvTitle`
                  a.innerHTML = element.title
                  col.appendChild(a)
                  listing_container.appendChild(row)
                })
                
                if (previous_page !== '#') {
                  lnav.style.visibility = 'visible'
                  lnav.setAttribute("onclick", `get_listing_from_page(${previous_page})`)
                } else {
                  lnav.style.visibility = 'hidden'
                }

                if (next_page !== '#') {
                  rnav.style.visibility = 'visible'
                  rnav.setAttribute("onclick", `get_listing_from_page(${next_page})`)
                } else {
                  rnav.style.visibility = 'hidden'
                }

              } else if (data.status === "error") {
                let err = data.info
                let json = JSON.parse(data.info)
                
                json.forEach((element) => {
                  if (element.code >= 500) {
                    let url = document.getElementById('common_data_div').getAttribute('data-erurl')
                    change_url(`${url}?code=${element.code}&message=${element.message}`)
                  }
                })
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
          }

          function customSubmit(type) {
            let csrf = document.getElementById('csrf_wrapper').getAttribute('data-csrf');
            if (type === 'review') {
              let image_input = document.getElementById('image')
              let url = document.getElementById('create_user_review_form').getAttribute('data-url');
              
              let album_author = document.getElementById('album_author').value
              let album_title = document.getElementById('album_title').value
              let review_title = document.getElementById('review_title').value
              let review_text = document.getElementById('review_text').value
              let image = image_input.files[0]
              let score = document.getElementById('rvw_score').value

              if ((image_input.value !== "" ) && (album_author !== "" ) && (album_title !== "" ) && (review_title !== "" ) && (review_text !== "" ) && (score !== "" )) {
                let formData = new FormData()
                formData.append("image", image)
                formData.append("csrfmiddlewaretoken", csrf)
                formData.append("score", score)

                formData.append("album_author", album_author)
                formData.append("album_title", album_title)
                formData.append("review_title", review_title)
                formData.append("review_text", review_text)

                send(url, formData)

              } else {
                alertify.alert('Fill in empty fields, please.') 
              }
            } else if (type === 'ava') {
              let ava_input = document.getElementById('user_image')
              let url = document.getElementById('change_user_image_form').getAttribute('data-url');
              let ava = ava_input.files[0]

              if (ava_input.value !== "" ) {
                let formData = new FormData()
                formData.append("image", ava)
                formData.append("csrfmiddlewaretoken", csrf)

                send(url, formData)

              } else {
                alertify.alert('Fill in empty fields, please.') 
              }

            } else if (type === 'nickname') {
                let url = document.getElementById('change_user_nickname_form').getAttribute('data-url');
                let nickname = document.getElementById('nickname_input').value

                if (nickname !== "" ) {
                  let formData = new FormData()
                  formData.append("nickname", nickname)
                  formData.append("csrfmiddlewaretoken", csrf)
                  
                  send(url, formData)
  
                } else {
                  alertify.alert('Fill in empty fields, please.') 
                }
            }

            function send(url, form) {
              fetch(url, {
                method: "POST",
                body: form,
                mode: 'cors',
                cache: 'default',
                credentials: 'include',
              })
              .then((response) => response.json())
              .then((data) => {
                console.log("Success:", data);
                if (data.status === "message") {
                  let msg = data.info
                  let json = JSON.parse(data.info); 
                  let keys = Object.keys(json)

                  alertify.alert(json[0].message)
                } else if (data.status === "form_validation_error" ) {
                  let msg = data.info
                  let json = JSON.parse(data.info); 
                  let keys = Object.keys(json)

                  alertify.alert(json[keys[0]][0].message)                

                } else if (data.status === "success") {
                  if (Object.hasOwn(data, 'flag') === true) {
                    if (data.flag === 'potato') {
                      let json = JSON.parse(data.data)
                      
                      let url = document.getElementById('this_page_info').getAttribute('data-rvwmkpage')                      
                      let made_url = url.replace(/.$/,`${json[0].review_id}`)
                      
                      //change_url(`${made_url}`)
                      window.open(made_url, '_blank').focus();
                      document.location.reload()
                    } else {
                      document.location.reload()    
                    }
                  } else {
                    document.location.reload()
                  }

                } else if (data.status === "error") {
                  let err = data.info
                  let json = JSON.parse(data.info)
                  
                  json.forEach((element) => {
                    if (element.code >= 500) {
                      let url = document.getElementById('common_data_div').getAttribute('data-erurl')
                      change_url(`${url}?code=${element.code}&message=${element.message}`)
                    }
                  })
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
            }
          }

        </script>

    {% endblock scripts %}


{% endblock body %}